<StackLayout>
  <BottomNavigation>
    <TabStrip>
        <TabStripItem>
            <Label text="Menu"></Label>
        </TabStripItem>
        <TabStripItem>
            <Label text="Shop"></Label>
            <Image src="res://icon"></Image>
        </TabStripItem>
        <TabStripItem>
            <Label text="Stash"></Label>
            <Image src="~/src/app/menu/menu-icon/icon-bag.png"></Image>
        </TabStripItem>
        <TabStripItem>
            <Label text="Account"></Label>
        </TabStripItem>
    </TabStrip>
  
    <TabContentItem>
        <GridLayout>
            <Label text="Menu"></Label>
        </GridLayout>
    </TabContentItem>
  
    <TabContentItem>
        <GridLayout>
            <list></list>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <Label text="Bag"></Label>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <Label text="Account"></Label>
        </GridLayout>
    </TabContentItem>
  </BottomNavigation>
</StackLayout>